* {
    margin: 0;
    padding: 0;
  }
#nav{
    display: flex;
    gap: 70px;
    background-color: rgb(26, 23, 23);
    
}
#nav input{
    margin: 10px;
    margin-right: 0px;
    height: 40px;
    width: 500px;
    border-radius: 5px;
}
#nav button{
    height: 35px;
    width: 70px;
    margin-left: 0px;
    border-radius: 5px;
    background-color: aqua;
    color:rgb(12, 12, 12)
}
#nav ul{
    display: flex;
    gap: 50px;
    margin: 14px;
    font-size: 25px;
    color: white;
}
.logo img{
   height: 50px;
   width: 70px;
   margin: 5px 2px 1px 5px;
}
.inp input{
    border-color: none;
}
.inp input:hover{
    border-color: rgb(255, 115, 0);
    border-radius: 150px;
    
    }
#nav ul li:hover{
    color: rgb(238, 102, 125);
    text-decoration: underline;
}
#main{
    background: url("images/pexels-pixabay-260922.jpg") no-repeat center center/cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    gap: 5px;
    color:white;
}
#black{
    padding: 20px 20px 20px 50px;
    background-color: black;
}
#black button{
    margin-top: 10px;
    margin-left: 360px;
}
#main button{
    background-color: red;
    color: yellow;
    height: 50px;
    width: 100px;
}
#Intro {
    background-color: black;
    margin-top: 15px;
    font-size: 20px;
    color: white;
}
.Bada_box{
    display: flex;
    overflow: auto;

}
#Menu {
    margin-top: 27px;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
  }
  .box img{
    width: 300px;
    height:168px;
  }
#Intro {
   padding-top: 30px;
   padding-bottom: 10px;
}
#starter, #Menu,#Famous_Drinks h1{
    margin-left: 20px;
}
.test {
    background: url('images/pexels-fotios-photos-776538.jpg') no-repeat center center/cover;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    gap: 5px;
    color:white;
    font-size: 50px;
}
.t1{
    background-color: black;
    padding: 20px 150px 20px 150px;
}
.rat{
    padding: 20px;
    border: 10px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border-radius: 3px
}
.bx{
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    border-radius: 3px
}
.quote{
    margin:10px 10px 20px 10px;
    color:#777777;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bx b{
    font-size: 14px ;
}
#form{
    /* background-color: black;
    width:1500px;
    height:400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-top: 20px; */
    background-color: black;
    color: #fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-top:40px;
    
    width: 1500px;
    height:400px;
}
.sd{
    height: 200px;
    width: 150px;
    font-size: 20px;
}
.info{
    margin-top: 10px;
    margin-bottom: 10px;
}
#form h1{
    font-size: 50px;
    margin-bottom: 10px;
}


/* #logo img{
    height: 50px;
   width: 70px;
   margin: 5px 2px 1px 5px;
} */